#!/bin/sh
# {{ ansible_managed }}

{% if ansible_bootstrap_virtualenv_enabled %}
# activate virtualenv
source "{{ ansible_bootstrap_virtualenv_path }}/bin/activate"

{% endif %}
if [ {{ ansible_bootstrap_config_dir }}/requirements.yml -nt $(readlink -f $0) ]; then
        echo "Requirements changed...updating roles..."
        sudo ansible-galaxy install -f -r {{ ansible_bootstrap_config_dir }}/requirements.yml \
            && sudo touch $(readlink -f $0)
fi
{% if ansible_bootstrap_virtualenv_enabled %}

# deactivate virtualenv
deactivate
{% endif %}
