#!/bin/sh
# {{ ansible_managed }}
# Set defaults
FIND="ansible_bootstrap_admin_password: "
GROUP_VARS="{{ ansible_bootstrap_config_dir }}/group_vars/{{ group_names[0] }}.yml"

# Get password from user
echo "Password change for \"{{ ansible_bootstrap_admin_user }}\"..."
P1=$(python -c "import getpass; print(getpass.getpass())")
ret=$?
if [ ${ret} -ne 0 ]; then
        echo "Error getting password"
        exit ${ret}
fi

# Dont allow blank passwords
if [ "${P1}" = "" ]; then
        echo "Password cannot be empty"
        exit 1
fi

# Re-enter password
echo "Verify password..."
P2=$(python -c "import getpass; print(getpass.getpass())")
ret=$?
if [ ${ret} -ne 0 ]; then
        echo "Error getting password"
        exit ${ret}
fi

# Ensure passwords match
if [ "${P1}" != "${P2}" ]; then
        echo "Passwords do not match!"
        exit 1
fi

# Encrypt password
PASSWORD=$(python -c "from passlib.hash import sha256_crypt; import getpass; print(sha256_crypt.encrypt(\"${P1}\", rounds=5000))")
ret=$?
if [ ${ret} -ne 0 ]; then
        echo "Error encrypting password"
        exit ${ret}
fi

# Change "{{ ansible_bootstrap_admin_user }}" password

# Check if password is in GROUP_VARS
grep -q "${FIND}" "${GROUP_VARS}"
ret=$?
if [ ${ret} -eq 0 ]; then
        # Existing password found
        sed -i "s#${FIND} '.*'#${FIND} '${PASSWORD}'#" "${GROUP_VARS}"
else
        # No existing password found
        printf "${FIND} '%s'" "${PASSWORD}" >> "${GROUP_VARS}"
fi

# Sync and update config
/etc/ansible/sync.sh --tags=bootstrap
