#!/bin/sh
# {{ ansible_managed }}
usage() {
        echo "Usage:"
        echo "$0 drain|maint|ready <backend_prefix> <server>"
        exit 1
}

[ $# -eq 3 ] || usage
state=$1
backend_base=$2
server=$3
backends="owa oab eas ews ecp rpc mapi ps autod default"
case ${state} in
        drain|maint|ready)
                for b in ${backends}; do
                        echo "Setting ${backend_base}_${b}/${server} backend to ${state}..."
                        out=$(echo "set server ${backend_base}_${b}/${server} state ${state}" | socat /var/run/haproxy.sock stdio)
                        if [ "${out}" != "" ]; then
                                echo "${out}"
                        fi
                done
        ;;
        *)
                echo "Invalid state: ${state}"
                usage
        ;;
esac
