#!/bin/sh
# {{ ansible_managed }}
ssh_agent_load() {
	ssh-agent /bin/sh -c \
		"ssh-add {{ ansible_bootstrap_config_dir }}/.ssh/{{ ansible_bootstrap_ssh_key_prefix }}{{ ansible_bootstrap_ssh_key_type }} && $*"
}

if {{ ansible_bootstrap_config_dir }}/galaxy.sh; then
{% if ansible_bootstrap_virtualenv_enabled %}
	# activate virtualenv
	source "{{ ansible_bootstrap_virtualenv_path }}/bin/activate"

{% endif %}
	# run playbook
	ssh_agent_load ansible-playbook $* {{ ansible_bootstrap_config_dir }}/site.yml
{% if ansible_bootstrap_virtualenv_enabled %}

	# deactivate virtualenv
	deactivate
{% endif %}
fi
