#!/bin/sh
# {{ ansible_managed }}
ssh_agent_load() {
	ssh-agent /bin/sh -c \
		"ssh-add {{ ansible_bootstrap_config_dir }}/.ssh/{{ ansible_bootstrap_ssh_key_prefix }}{{ ansible_bootstrap_ssh_key_type }} && $*"
}

if [ "{{ ansible_bootstrap_sync_hosts|join(' ') }}" != "" ]; then
	# Only do something if we have a list of hosts to sync to
	opts='--rsync-path="sudo rsync" -ai --update --delete --exclude=site.retry --exclude=roles/'
	changed=0
	# Loop through other nodes and sync
	for n in {{ ansible_bootstrap_sync_hosts|join(' ') }}; do
		# Dont sync to ourselves
		if [ "$(hostname -s)" != "${n}" ]; then
			echo "Syncing config to \"${n}\"..."
			# Run sync
			out=$(ssh_agent_load rsync ${opts} {{ ansible_bootstrap_config_dir }}/ {{ ansible_bootstrap_user }}@${n}:{{ ansible_bootstrap_config_dir }}/)
			if [ "${out}" != "" ]; then
				# Changes occurred, run galaxy.sh script on remote node if requirements.yml changed
				echo "${out}" \
					| grep -q requirements.yml \
					&& ssh_agent_load ssh {{ ansible_bootstrap_user }}@${n} sudo {{ ansible_bootstrap_config_dir }}/galaxy.sh
				changed=1
			fi
		fi
	done
	if [ "${changed}" = "1" ]; then
		# If files changed the run playbook
		echo "Changes found...running playbook..."
		{{ ansible_bootstrap_config_dir }}/run.sh $*
	fi
fi
